@charset "utf-8";
/* CSS Document */
form {
	position: relative;
	width: 95%;
	height: auto;
	margin: 0 auto;
	font-family: Verdana, Geneva, sans-serif;
}       
form p {
	position: relative;
	width: 100%;
	height: auto;
	margin-top: 5px !important;
	margin-bottom: 5px !important;
	padding: 0 !important;	
	font-size: 0.85em !important;	
}
form label {
	position: relative;
	cursor: pointer;
	width: 17%;
	height: 22px;
	vertical-align: baseline;
	display: inline-block;
	text-align: right;
}
input[type="text"], input[type="password"], select, input[type="radio"], textarea {
	height: 22px;
	padding: 5px;
	position: relative;
	border: solid 1px #777;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	display: inline-block;
	box-sizing: initial !important;
}
textarea {
	min-height: 70px;	
	max-height: 70px;
} 
button {
	height: 34px !important;
}
.required {
	border: solid 1px #f00 !important;
}
.correct {
	border: solid 1px #666 !important;;
}
.correct2 {
	border: solid 1px #0f0 !important;
}
.mensaje-tooltip {
	font-size: 0.75em;
}
.obligatorio {
	color: #F00;
}	
.tam-1, .tam-2, .tam-3 {
	/*min-width: 300px;*/
}
.tam-1 {
	width: 20% !important;
}
.tam-2 {
	width: 30% !important;
}
.tam-3 {
	width: 55% !important;
}
.tam-4 {
	width: 80% !important;
}
#contenedor {
	position: relative;
	width: 70%;
	height: auto;
	margin: 0 auto;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 0.85em !important;
}
#pie {
	position: relative;
	margin: 40px auto;
	width: 85%;
	max-width: 69em;
	height: 100px;
	text-align: center;
	overflow: hidden;
}
#pie .pie-izq {
	position: relative;
	width: 20%;
	height: 100%;
	display: inline-block;	
}
#pie .pie-der {
	position: relative;
	width: 70%;
	height: 100%;
	display: inline-block;	
}
#pie span {
	text-align: center;
	font-size: 12px;
}
#pie .ues {
	float: left;
	width: 50%;
	max-width: 75px;
	height: auto;
}
#pie .escudo {
	float: right;
	width: 50%;
	max-width: 100px;
	height: auto;
}
.k-delete {
	float: right;
}
/*SCROLL*/
::-webkit-scrollbar {  
    width: 8px; 
}  
::-webkit-scrollbar-track {  
    background-color: #eaeaea;  
    border-left: 1px solid #ccc;  
}  
::-webkit-scrollbar-thumb {  
    background-color: #ccc;  
}  
::-webkit-scrollbar-thumb:hover {  
    background-color: #aaa;  
}
#lean_overlay {
	position: fixed;
	z-index:100;
	top: 0px;
	left: 0px;
	height:100%;
	width:100%;
	background: #000;
	display: none;
}
#ventana {
	width: 60%;
	min-height: 50%;
	max-height: 80%;
	/*padding: 10px; */
	display:none;
	background: #FFF;
	border-radius: 5px; 
	-moz-border-radius: 5px; 
	-webkit-border-radius: 5px;
	box-shadow: 0px 0px 4px rgba(0,0,0,0.7); 
	-webkit-box-shadow: 0 0 4px rgba(0,0,0,0.7);
	-moz-box-shadow: 0 0px 4px rgba(0,0,0,0.7);   
}
#signup-header { 
	background: url(../img/hd-bg.png); 
	padding: 18px 18px 14px 18px; 
	border-bottom: 1px solid #CCC; 
	border-top-left-radius: 5px; 
	-moz-border-radius-topleft: 5px; 
	-webkit-border-top-left-radius: 5px; 
	border-top-right-radius: 5px; 
	-moz-border-radius-topright: 5px; 
	-webkit-border-top-right-radius: 5px; 
	margin-bottom: 10px;
}
#signup-header  h2 { 
	color: #444; 
	font-size: 1.5em;
	font-weight: 700;
	margin-bottom: 0px;
	margin-top: 0px;
	text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.5); 
}
#signup-header  p { 
	color: #444; 
	font-size: 1.3em; 
	margin: 0; 
	text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.5); 
	text-shadow: none; 
}
.modal_close { 
	position: absolute; 
	top: 12px; 
	right: 12px; 
	display: block; 
	width: 14px; 
	height: 14px; 
	background: url(../img/modal_close.png); 
	z-index: 2;
	cursor: pointer;
}